main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 600px;
  align-content: space-between;
}

/* TODO Mobile stiles... one column (right now it's 3) */
main > div {
  background-color: aliceblue;
  padding: .5em;
  border: 1px solid black;
  width: 80%;
  box-sizing: border-box;
}

/* TODO 768px+ (2 columns, background: red) */
@media screen and (min-width: 768px) {
  main > div {
    border: 1px solid black;
    width: 49%;
    box-sizing: border-box;
  }
  body {
    background-color: red;
  }
  main {
    height: 360px;
    align-content: space-between;
  }
}


/* TODO 992px+ (3 columns, background: blue) */
@media screen and (min-width: 992px) {
  main > div {
    width: 32%;
    box-sizing: border-box;
  }
  body {
    background-color: blue;
  }
  main {
    height: 250px;
    align-content: space-between;
}
}
