main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Mobile stiles... one column (right now it's 3) */
main > div {
  padding: .5em;
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
}

/* 768px+ (2 columns, background: red) */
@media screen and (min-width: 768px) {
  body {
    background-color: silver;
  }

  /* Only rewrite the properties that need to change */
  main > div {
    width: 49%; /* 2 columns */
    background-color: lightcoral;
  }
}

/* 992px+ (3 columns, background: blue) */
@media screen and (min-width: 992px) {
  body {
    border: 5px dashed yellow;
  }

  main > div {
    width: 32%;
    background-color: cornflowerblue;
  }
}
